<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

  <h1>Profile</h1>
  
  <div th:if="${user}">
    <div>
      <img th:src="${user.profileImage}" width="500px">
    </div>
    <div>
      <p>kakao id <span th:text="${user.kakaoId}"></span></p>
      <p>닉네임 <span th:text="${user.profileNickname}"></span></p>
      <p>권한 <span th:text="${user.role}"></span></p>
    </div>
    <a th:href="@{/logout}">로그아웃</a>
  </div>

  <div th:unless="${user}">
    <p>로그인 정보를 찾을 수 없습니다.</p>
  </div>

</body>
</html>


